@tailwind base;
@tailwind components;
@tailwind utilities;

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: gainsboro;
}

@utilities;
